{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_style.css' %}">
</head>

<body>
    <h1 class="admin-panel-header">Panel Administratora</h1>
    <img src="{% static 'user_panel/avatar_user.jpg' %}" alt="Avatar" class="avatar">
    <h1 class="welcome-header">Witaj {{ user_info.first_name }}!</h1>

    <div class="menu-container">
        <a href="{% url 'admin:index' %}">
            <button class="admin-button" type="button">Django Admin</button>
        </a>
        <button class="logout-button" onclick="window.location.href='/logout/'">Wyloguj</button>
    </div>

</body>

</html>