{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Strona Analizy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/analysis_style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <center>
        <!-- <h1>Przeprowadź własną analizę!</h1> -->
    </center>

    <!-- Powrót do panelu użytkownika -->
    <div class="back-to-panel">
        <button type="button" onclick="goBack()">Powrót</button>
    </div>

    <!-- Formularz do obliczania średniej i minimalnej emigracji dla wybranego roku -->
    <form id="analysis-form" class="emigration-form">
        <div class="form-row">
            <div class="form-group">
                <label for="selected-year">Wybierz rok:</label>
                <select id="selected-year" name="selected-year">
                    {% for year in unique_years %}
                    <option value="{{ year.year }}">{{ year.year }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="selected-country">Wybierz kraj:</label>
                <select id="selected-country" name="selected-country">
                    {% for country in countries %}
                    <option value="{{ country.country }}">{{ country.country }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Przyciski -->
        <div class="form-row">
            <div class="form-group">
                <!-- Przycisk do pokazania średniej emigracji dla wybranego roku -->
                <button type="button" onclick="calculateAverageForSelectedYear()">Średnia emigracja</button>
            </div>
            <div class="form-group">
                <!-- Przycisk do pokazania minimalnej emigracji dla wybranego roku -->
                <button type="button" onclick="calculateMinForSelectedYear()">Minimalna emigracja</button>
            </div>
            <div class="form-group">
                <!-- Przycisk do pokazania maksymalnej emigracji dla wybranego roku -->
                <button type="button" onclick="calculateMaxEmigrationForYear()">Maksymalna emigracja</button>
            </div>
            <div class="form-group">
                <!-- Przycisk do pokazywania sumy emigrantów dla wybranego roku -->
                <button type="button" onclick="calculateSum()">Suma emigracji</button>
            </div>
            <div class="form-group">
                <!-- Przycisk do pokazania procentu emigrantów dla wybranego kraju -->
                <button type="button" onclick="calculatePercentageForSelectedCountryAndYear()">Procent
                    emigracji</button>
            </div>
            <div class="form-group">
                <!-- Ukrywanie wyników -->
                <button type="button" class="highlighted" onclick="hideAllResults()">Ukryj wyniki</button>
            </div>
        </div>
    </form>

    <!-- Formularz do obliczania odchylenia standardowego dla danego kraju i zakresu lat -->
    <form id="standard-deviation-form" class="standard-deviation-form">
        <div class="form-row">
            <div class="form-group">
                <label for="selected-country-deviation">Wybierz kraj:</label>
                <select id="selected-country-deviation" name="selected-country-deviation">
                    {% for country in countries %}
                    <option value="{{ country.country }}">{{ country.country }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Pola do wyboru zakresu lat -->
            <div class="form-group">
                <label for="start-year">Rok początkowy:</label>
                <select id="start-year" name="start-year">
                    {% for year in unique_years %}
                    <option value="{{ year.year }}">{{ year.year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="end-year">Rok końcowy:</label>

                <select id="end-year" name="end-year">
                    {% for year in unique_years %}
                    <option value="{{ year.year }}">{{ year.year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Przycisk do obliczania odchylenia standardowego dla danego kraju -->
        <button type="button" onclick="calculateStandardDeviationForSelectedCountry()">Odchylenie standardowe</button>

    </form>
    <!-- Kontener na wyniki -->
    <div id="results-container" class="results-container">
        <h3>Wyniki twoich obliczeń obliczeń</h3> <!-- Dodany nagłówek -->
        <!-- Wyświetlenie wyniku obliczonej średniej -->
        <p id="averageResult" class="result" style="display: none;"></p>
        <!-- Wyświetlenie wyniku minimalnej emigracji dla wybranego roku -->
        <p id="minResult" class="result" style="display: none;"></p>
        <!-- Wyświetlenie wyniku maksymalnej emigracji dla wybranego roku -->
        <p id="maxEmigrationResult" class="result" style="display: none;"></p>
        <!-- Wyświetlanie sumy emigrantów dla wybranego roku -->
        <p id="sumResult" class="result" style="display: none;"></p>
        <!-- Wyświetlenie wyniku obliczonego procentu dla wybranego kraju i roku -->
        <p id="country-year-percentage-result" class="result" style="display: none;"></p>
        <!-- Wyświetlenie wyniku odchylenia standardowego dla wybranego kraju i zakresu lat -->
        <p id="standardDeviationResult" class="result" style="display: none;"></p>
    </div>
    <!-- Przyciski do wykresów -->
    <div class="chart-container">
        <div class="chart-buttons">
            <button type="button" onclick="showPieChart()">Wykres kołowy</button>
            <button type="button" onclick="showEmigrationChart()">Wykres emigracji</button>
            <button id="hidePieChartButton" onclick="hidePieChart()">Ukryj wykres</button>
        </div>
        <div class="chart-content">
            <div id="pieChartContainer">
                <div id="pieChart"></div>
            </div>
            <form id="emigration-form" style="display: none;">
                <div id="emigrationChartContainer">
                    <img id="emigrationChart" src="" alt="Emigration Chart">
                </div>
                <!-- div dla selektorów -->
                <div class="countries-selectors">
                    <div class="selector-group">
                        <label for="selected-country-1">Wybierz kraj 1:</label>
                        <select id="selected-country-1" name="selected-country-1">
                            {% for country in countries %}
                            <option value="{{ country.country }}">{{ country.country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="selector-group">
                        <label for="selected-country-2">Wybierz kraj 2:</label>
                        <select id="selected-country-2" name="selected-country-2">
                            {% for country in countries %}
                            <option value="{{ country.country }}">{{ country.country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- div dla opisu lat -->
                <div class="year-description">
                    Wybierz lata od
                    <span id="selectedStartYear">2005</span>
                    do
                    <span id="selectedEndYear">2022</span>
                </div>
                <div id="yearRange"></div>
                <!-- div dla przycisku "Two Countries" -->
                <div class="two-countries-button-container">
                    <button class="two-countries-button" type="button"
                        onclick="showEmigrationChartForTwoCountries()">Porównaj</button>
                </div>
            </form>
        </div>
    </div>
    <!-- ______________________________________________________________________________________________________ -->


    <!-- Formularz dla współczynnika korelacji Pearsona -->
    <!-- Formularz dla współczynnika korelacji Pearsona -->
    <form id="correlationForm" class="correlation-form">
        <div class="form-group left-group">
            <label for="selected_countries">Wybierz kraje:</label>
            <select id="selected_countries" multiple class="form-control">
                {% for country in countries %}
                <option value="{{ country.country }}">{{ country.country }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group right-group">
            <div>
                <label for="start_year">Rok początkowy:</label>
                <select id="start_year" class="form-control">
                    {% for year in unique_years %}
                    <option value="{{ year.year }}">{{ year.year }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="end_year">Rok końcowy:</label>
                <select id="end_year" class="form-control">
                    {% for year in unique_years %}
                    <option value="{{ year.year }}">{{ year.year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="button-group">
            <button type="button" class="calculate-button" onclick="calculateCorrelation()">Pearson</button>
            <button type="button" class="calculate-button" onclick="calculateSpearmanCorrelation()">Spearman</button>
        </div>

        <!-- Dodane miejsce na wykresy z klasą 'charts-container' -->
        <div class="charts-container">
            <canvas id="correlationChart" width="100" height="50"></canvas>
        </div>
    </form>







    <!-- Dodaj miejsce na wyniki korelacji -->
    <!-- <div id="correlationResults"></div> -->

    <!-- Dodaj miejsce na wykresy, jeśli są potrzebne -->
    <!-- <div id="charts">
        <canvas id="correlationChart" width="100" height="50"></canvas>
    </div> -->

    <!-- ______________________________________________________________________________________________________ -->


    <!-- ______________________________________________________________________________________________________ -->
    <!-- Przycisk do pokazania/ukrycia danych krajów -->
    <button type="button" class="show-data-button" onclick="toggleTable('country-table')">Pokaż dane</button>
    <!-- Przycisk do pokazania/ukrycia danych o emigracjach -->
    <button type="button" class="show-emigrations-button" onclick="toggleTable('emigration-table')">Pokaż
        emigracje</button>
    <!-- Tabela z danymi krajów -->
    <table id="country-table" class="country-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kraj</th>
                <th>Stolica</th>
                <th>Powierzchnia</th>
                <th>Populacja</th>
                <th>Kod telefoniczny</th>
                <th>Kontynent</th>
                <!-- <th>Flag Path</th> -->
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.country }}</td>
                <td>{{ country.capital }}</td>
                <td>{{ country.area }}</td>
                <td>{{ country.population }}</td>
                <td>{{ country.phone_code }}</td>
                <td>{{ country.continent }}</td>
                <!-- <td>{{ country.flag_path }}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Tabela z danymi o emigracjach -->
    <table id="emigration-table" class="emigration-table">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>ID kraju</th>
                <th>Rok</th>
                <th>Liczba emigrantów</th>
            </tr>
        </thead>
        <tbody>
            {% for emigration in emigrations %}
            <tr>
                <!-- <td>{{ emigration.id }}</td> -->
                <td>{{ emigration.country_id }}</td>
                <td>{{ emigration.year }}</td>
                <td>{{ emigration.number_of_emigrants }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // Wyswietlanie tabel
        function toggleTable(tableId) {
            var table = document.getElementById(tableId);
            table.style.display = (table.style.display === 'none') ? 'table' : 'none';
        }

        // Obliczanie sredniej dla wybranego roku
        function calculateAverageForSelectedYear() {
            var selectedYear = document.getElementById('selected-year').value;

            // Wywołaj żądanie AJAX do Django, aby obliczyć średnią dla wybranego roku
            fetch('/calculate_average_for_year/?selected_year=' + encodeURIComponent(selectedYear))
                .then(response => response.json())
                .then(data => {
                    if ('average_emigration' in data) {
                        var averageResult = document.getElementById('averageResult');
                        averageResult.innerHTML = "Średnia emigracja dla roku " + selectedYear + ": " + data.average_emigration.toFixed(2);

                        averageResult.style.display = 'block';
                    } else {
                        alert('An error occurred: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error during AJAX request:', error);
                });
        }

        // Obliczanie procentu dla wybranego kraju
        function calculatePercentageForSelectedCountryAndYear() {
            var selectedCountry = document.getElementById('selected-country').value;
            var selectedYear = document.getElementById('selected-year').value;

            // Wywołaj żądanie AJAX do Django, aby obliczyć procent dla wybranego kraju i roku
            fetch('/calculate_percentage_for_country_and_year/?selected_country=' + encodeURIComponent(selectedCountry) + '&selected_year=' + encodeURIComponent(selectedYear))
                .then(response => response.json())
                .then(data => {
                    if ('percentage' in data) {
                        var countryYearPercentageResult = document.getElementById('country-year-percentage-result');
                        countryYearPercentageResult.innerHTML = "Procent emigrantów dla kraju " + selectedCountry + " w roku " + selectedYear + ": " + data.percentage.toFixed(2) + "%";
                        countryYearPercentageResult.style.display = 'block';
                    } else {
                        alert('An error occurred: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error during AJAX request:', error);
                });
        }

        // Max wartośc dla wybranego roku
        function calculateMaxEmigrationForYear() {
            var selectedYear = document.getElementById('selected-year').value;

            // Wywołaj żądanie AJAX do Django, aby obliczyć maksymalną emigrację dla wybranego roku
            fetch('/calculate_max_emigration_for_year/?selected_year=' + encodeURIComponent(selectedYear))
                .then(response => response.json())
                .then(data => {
                    if ('max_emigration' in data && 'max_country' in data) {
                        var maxEmigrationResult = document.getElementById('maxEmigrationResult');
                        maxEmigrationResult.innerHTML = "Maksymalna emigracja dla roku " + selectedYear + ": " + data.max_emigration +
                            " w kraju " + data.max_country;

                        maxEmigrationResult.style.display = 'block';
                    } else {
                        alert('An error occurred: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error during AJAX request:', error);
                });
        }

        // Min wartośc dla wybranego roku
        function calculateMinForSelectedYear() {
            var selectedYear = document.getElementById('selected-year').value;

            // Wywołaj żądanie AJAX do Django, aby obliczyć minimalną wartość dla wybranego roku
            fetch('/calculate_min_for_year/?selected_year=' + encodeURIComponent(selectedYear))
                .then(response => response.json())
                .then(data => {
                    if ('min_emigration' in data && 'country_with_min_emigration' in data) {
                        var minResult = document.getElementById('minResult');

                        minResult.innerHTML = "Minimalna emigracja dla roku " + selectedYear + ": " + data.min_emigration +
                            " w kraju " + data.country_with_min_emigration;

                        minResult.style.display = 'block';
                    } else {
                        alert('An error occurred: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error during AJAX request:', error);
                });
        }

        // odchylenie dla wybranego kraju 
        function calculateStandardDeviationForSelectedCountry() {
            var selectedCountry = document.getElementById('selected-country-deviation').value;
            var startYear = document.getElementById('start-year').value;
            var endYear = document.getElementById('end-year').value;

            // Wywołaj żądanie AJAX do Django, aby obliczyć odchylenie standardowe dla danego kraju i zakresu lat
            fetch('/calculate_standard_deviation_for_country/?selected_country=' + encodeURIComponent(selectedCountry) + '&start_year=' + encodeURIComponent(startYear) + '&end_year=' + encodeURIComponent(endYear))
                .then(response => response.json())
                .then(data => {
                    if ('standard_deviation' in data) {
                        var standardDeviationResult = document.getElementById('standardDeviationResult');
                        standardDeviationResult.innerHTML = "Odchylenie standardowe dla kraju " + selectedCountry + " od " + startYear + " do " + endYear + ": " + data.standard_deviation.toFixed(2);

                        standardDeviationResult.style.display = 'block';
                    } else {
                        alert('An error occurred: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error during AJAX request:', error);
                });
        }

        function calculateSum() {
            var selectedYear = document.getElementById('selected-year').value;

            // Ukryj wyniki sumy emigrantów przed wysłaniem zapytania AJAX
            var sumResult = document.getElementById('sumResult');
            // sumResult.style.display = 'none';
            // sumResult.innerText = '';  // Zresetuj tekst wyniku

            // Wywołaj funkcję na backendzie i obsłuż odpowiedź
            $.get('/calculate_sum_for_year/', { selected_year: selectedYear }, function (data) {
                if ('total_emigration_for_year' in data) {
                    $('#sumResult').text('Suma emigrantów w roku ' + selectedYear + ': ' + data.total_emigration_for_year);
                    // Pokaż wyniki sumy emigrantów po otrzymaniu odpowiedzi
                    sumResult.style.display = 'block';
                } else {
                    $('#sumResult').text('Błąd: ' + data.error);
                }
            });
        }

        // powrót do panelu użytkownika
        function goBack() {
            window.history.back();
        }

        // Funkcja do ukrywania wszystkich wyników
        function hideAllResults() {
            // Ukryj wyniki średniej emigracji
            var averageResult = document.getElementById('averageResult');
            averageResult.style.display = 'none';

            // Ukryj wyniki minimalnej emigracji
            var minResult = document.getElementById('minResult');
            minResult.style.display = 'none';

            // Ukryj wyniki maksymalnej emigracji
            var maxEmigrationResult = document.getElementById('maxEmigrationResult');
            maxEmigrationResult.style.display = 'none';

            // Ukryj wyniki odchylenia standardowego
            var standardDeviationResult = document.getElementById('standardDeviationResult');
            standardDeviationResult.style.display = 'none';

            // Ukryj wyniki sumy emigrantów
            var sumResult = document.getElementById('sumResult');
            sumResult.style.display = 'none';

            // Ukryj wyniki procentu dla wybranego kraju i roku
            var countryYearPercentageResult = document.getElementById('country-year-percentage-result');
            countryYearPercentageResult.style.display = 'none';
        }

        //WYKESY

        // Funkcja do pokazania wykresu kołowego
        function showPieChart() {
            document.getElementById('pieChartContainer').classList.add('active');
            document.getElementById('emigration-form').classList.remove('active');

            var pieChartContainer = document.getElementById('pieChartContainer');

            // Sprawdź, czy kontener ma klasę ukrywającą
            if (pieChartContainer.classList.contains('hidden')) {
                // Jeśli tak, usuń ją, aby wykres mógł być widoczny
                pieChartContainer.classList.remove('hidden');
            }

            var selectedYear = document.getElementById('selected-year').value;

            // Wywołaj żądanie AJAX do Django, aby pobrać dane dla wykresu
            fetch('/generate_pie_chart/' + encodeURIComponent(selectedYear) + '/')
                .then(response => response.json())
                .then(data => {
                    if ('image_base64' in data) {
                        var pieChartContainer = document.getElementById('pieChartContainer');
                        pieChartContainer.innerHTML = '<img src="data:image/png;base64,' + data.image_base64 + '" alt="Pie Chart">';
                    } else {
                        alert('An error occurred: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error during AJAX request:', error);
                });
        }

        // Funkcja do pokazania wykresu emigracji
        function showEmigrationChart() {
            document.getElementById('emigration-form').classList.add('active');
            document.getElementById('pieChartContainer').classList.remove('active');

            var emigrationForm = document.getElementById('emigration-form');

            // Dodaj klasę active, aby pokazać formularz
            emigrationForm.classList.add('active');

            var selectedCountry = document.getElementById('selected-country').value;

            // Pobierz wartości początkową i końcową z suwaka
            var startYear = $("#yearRange").slider("values", 0);
            var endYear = $("#yearRange").slider("values", 1);

            // Wywołaj funkcję do pobrania i wyświetlenia wykresu
            fetch('/generate_emigration_chart/' + encodeURIComponent(selectedCountry) + '/?start_year=' + encodeURIComponent(startYear) + '&end_year=' + encodeURIComponent(endYear))
                .then(response => response.json())
                .then(data => {
                    if ('image_base64' in data) {
                        var emigrationChart = document.getElementById('emigrationChart');
                        emigrationChart.src = 'data:image/png;base64,' + data.image_base64;
                    } else {
                        alert('An error occurred: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error during AJAX request:', error);
                });
        }

        // Funkcja do obsługi suwaka z dwoma uchwytami
        function handleYearRangeChange() {
            var yearRange = $("#yearRange");
            var selectedStartYear = $("#selectedStartYear");
            var selectedEndYear = $("#selectedEndYear");

            // Pobierz wartości początkową i końcową z suwaka
            var startYear = yearRange.slider("values", 0);
            var endYear = yearRange.slider("values", 1);

            selectedStartYear.text(startYear);
            selectedEndYear.text(endYear);

            // Wywołaj funkcję do pobrania i wyświetlenia wykresu
            showEmigrationChart();
        }

        // Inicjalizacja suwaka z dwoma uchwytami
        $("#yearRange").slider({
            range: true,
            min: 2005,
            max: 2022,
            values: [2005, 2022],
            slide: function (event, ui) {
                $("#selectedStartYear").text(ui.values[0]);
                $("#selectedEndYear").text(ui.values[1]);
            },
        });

        // Zmienne do przechowywania wybranych krajów
        var selectedCountry1 = "";
        var selectedCountry2 = "";

        // Funkcja do obsługi zmiany wybranego kraju 1
        function handleCountry1Change() {
            selectedCountry1 = document.getElementById('selected-country-1').value;
        }

        // Funkcja do obsługi zmiany wybranego kraju 2
        function handleCountry2Change() {
            selectedCountry2 = document.getElementById('selected-country-2').value;
        }

        // Funkcja do obsługi formularza i generowania wykresu dla dwóch krajów
        function showEmigrationChartForTwoCountries() {
            // Pobierz wartości początkową i końcową z suwaka
            var startYear = $("#yearRange").slider("values", 0);
            var endYear = $("#yearRange").slider("values", 1);

            // Pobierz wybrane kraje z formularza
            var selectedCountry1 = document.getElementById('selected-country-1').value;
            var selectedCountry2 = document.getElementById('selected-country-2').value;

            // Wywołaj funkcję do pobrania i wyświetlenia wykresu dla dwóch krajów
            fetch('/generate_emigration_chart_for_two_countries/?country1=' + encodeURIComponent(selectedCountry1) + '&country2=' + encodeURIComponent(selectedCountry2) + '&start_year=' + encodeURIComponent(startYear) + '&end_year=' + encodeURIComponent(endYear))
                .then(response => response.json())
                .then(data => {
                    if ('image_base64' in data) {
                        var emigrationChart = document.getElementById('emigrationChart');
                        emigrationChart.src = 'data:image/png;base64,' + data.image_base64;
                    } else {
                        alert('An error occurred: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Error during AJAX request:', error);
                });
        }

        function hidePieChart() {
            document.getElementById('pieChartContainer').classList.remove('active');
            document.getElementById('emigration-form').classList.remove('active');
        }


        var selectedCountries;
        var scatterChart;

        function calculateCorrelation() {
            selectedCountries = $('#selected_countries').val();
            var startYear = $('#start_year').val();
            var endYear = $('#end_year').val();

            if (!selectedCountries || selectedCountries.length < 2) {
                alert('Proszę wybrać co najmniej dwa kraje przed obliczeniem korelacji.');
                return;
            }

            if (parseInt(startYear) >= parseInt(endYear)) {
                alert('Rok początkowy musi być mniejszy niż rok końcowy.');
                return;
            }

            var requestData = {
                'selected_countries': selectedCountries,
                'start_year': startYear,
                'end_year': endYear,
            };

            $.ajax({
                type: 'POST',
                url: '/calculate_correlation/',
                data: JSON.stringify(requestData),
                contentType: 'application/json;charset=utf-8',
                success: function (response) {
                    console.log('Response from server:', response);
                    displayCorrelationResults(response.correlation_results, 'Pearsona');  // Poprawiona wartość drugiego argumentu
                },
                error: function (error) {
                    console.error('Error calculating correlation:', error);
                }
            });
        }

        function displayCorrelationResults(correlationResults, correlationType) {
            $('#correlationResults').empty();

            for (const [country, correlationCoefficient] of Object.entries(correlationResults)) {
                var roundedCoefficient = correlationCoefficient.toFixed(2);
                var resultHtml = `<p>Współczynnik korelacji ${correlationType} dla kraju ${country}: ${roundedCoefficient}</p>`;
                $('#correlationResults').append(resultHtml);
            }

            if (scatterChart) {
                scatterChart.destroy();
            }

            // Pokaż kontener wykresów
            $('.charts-container').show();

            // Generuj wykres
            generateScatterPlot(correlationResults, correlationType);
        }

        function generateScatterPlot(correlationResults, correlationType) {
            var countries = Object.keys(correlationResults);
            var coefficients = Object.values(correlationResults);

            var data = {
                labels: countries,
                datasets: [{
                    label: `Współczynnik korelacji ${correlationType}`,
                    data: coefficients,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    pointRadius: 5,
                    pointHoverRadius: 8,
                }]
            };

            if (correlationType === 'Pearsona') {
                // Obliczenia dla regresji liniowej (Pearson)
                var regressionCoefficients = linearRegression(countries.map((_, index) => index), coefficients);
                var regressionLineData = countries.map((_, index) => ({
                    x: index,
                    y: regressionCoefficients.slope * index + regressionCoefficients.intercept
                }));

                // Dodanie danych dla linii regresji (Pearsona)
                data.datasets.push({
                    label: 'Linia regresji',
                    data: regressionLineData,
                    type: 'line',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    fill: false,
                });
            } else if (correlationType === 'Spearmana') {
                // Obliczenia dla linii trendu (Spearman)
                var rankX = countries.map((_, index) => index);
                var rankY = coefficients.slice().sort((a, b) => a - b);

                var spearmanRegressionCoefficients = linearRegression(rankX, rankY);
                var spearmanRegressionLineData = rankX.map((_, index) => ({
                    x: index,
                    y: spearmanRegressionCoefficients.slope * index + spearmanRegressionCoefficients.intercept
                }));

                // Dodanie danych dla linii trendu (Spearmana)
                data.datasets.push({
                    label: 'Linia trendu',
                    data: spearmanRegressionLineData,
                    type: 'line',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    pointRadius: 0,
                    pointHoverRadius: 0,
                    fill: false,
                });
            }

            // Konfiguracja opcji wykresu punktowego
            var options = {
                scales: {
                    x: {
                        type: 'category',
                        labels: countries,
                        beginAtZero: true,
                    },
                    y: {
                        beginAtZero: true,
                        suggestedMax: 1,
                    }
                }
            };

            // Wygeneruj wykres punktowy
            var ctx = document.getElementById('correlationChart').getContext('2d');
            scatterChart = new Chart(ctx, {
                type: 'scatter',
                data: data,
                options: options
            });
        }

        function linearRegression(x, y) {
            var n = x.length;
            var sumX = x.reduce((acc, val) => acc + val, 0);
            var sumY = y.reduce((acc, val) => acc + val, 0);
            var sumXY = x.map((val, index) => val * y[index]).reduce((acc, val) => acc + val, 0);
            var sumX2 = x.map(val => val ** 2).reduce((acc, val) => acc + val, 0);

            var slope = (n * sumXY - sumX * sumY) / (n * sumX2 - sumX ** 2);
            var intercept = (sumY - slope * sumX) / n;

            return { slope, intercept };
        }

        function calculateSpearmanCorrelation() {
            var selectedCountries = document.getElementById('selected_countries').selectedOptions;
            var startYear = document.getElementById('start_year').value;
            var endYear = document.getElementById('end_year').value;

            if (selectedCountries.length < 2) {
                alert('Wybierz co najmniej dwa kraje do obliczenia korelacji rang Spearmana.');
                return;
            }

            var requestData = {
                selected_countries: Array.from(selectedCountries, option => option.value),
                start_year: startYear,
                end_year: endYear
            };

            fetch('/calculate_spearman_correlation/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData),
            })
                .then(response => response.json())
                .then(data => {
                    var spearmanResults = data.spearman_results;
                    displayCorrelationResults(spearmanResults, 'Spearmana');
                })
                .catch(error => {
                    console.error('Błąd podczas obliczania korelacji rang Spearmana:', error);
                    alert('Wystąpił błąd podczas obliczania korelacji rang Spearmana.');
                });
        }



    </script>
</body>

</html>