{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kraj</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/country_style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <!-- Powrót do panelu użytkownika -->
    <div class="back-to-panel">
        <button type="button" onclick="goBack()">Powrót</button>
    </div>

    <div class="country-selection">
        <h2>Wybierz kraj:</h2>
        <form>
            <label for="country-select">Kraj:</label>
            <select id="country-select" name="selected_country">
                <option value="" selected disabled>Wybierz kraj</option>
                {% for country in countries %}
                <option value="{{ country.id }}" {% if country.id == selected_country.id %}selected{% endif %}>{{country.country }}</option>
                {% endfor %}
            </select>
            <button type="submit">Wybierz</button>
        </form>
    </div>

    <div id="country-info">
        {% if selected_country %}
        <h3>{{ selected_country.country }}</h3>
        {% if selected_country.flag_path %}
        <img id="flag-image" src="{{ selected_country.flag_path }}" alt="Flaga {{ selected_country.country }}">
        {% endif %}
        <p><strong>Kontynent:</strong> {{ selected_country.continent }}</p>
        <p><strong>Stolica:</strong> {{ selected_country.capital }}</p>
        <p><strong>Powierzchnia:</strong> {{ selected_country.area }} km²</p>
        <p><strong>Populacja:</strong> {{ selected_country.population }}</p>
        <p><strong>Kod telefoniczny:</strong> +{{ selected_country.phone_code }}</p>
        {% endif %}
    </div>

    <script>
        // powrót do panelu użytkownika
        function goBack() {
            window.history.back();
        }

        $(document).ready(function () {
            // Ukryj kontener po załadowaniu strony
            $('#country-info').hide();
            // Obsługa formularza
            $('form').on('submit', function (e) {
                e.preventDefault();
                // Pobierz wybrany kraj
                var selectedCountryId = $('#country-select').val();
                // Wyślij żądanie AJAX, aby pobrać informacje o wybranym kraju
                $.ajax({
                    type: 'GET',
                    url: window.location.href,
                    data: { selected_country: selectedCountryId },
                    success: function (data) {
                        // Zaktualizuj sekcję z informacjami o kraju bez przeładowywania strony
                        $('#country-info').html(
                            data.id ?
                                `<h3>${data.country}</h3>
                                ${data.flag_path ? `<img id="flag-image" src="${data.flag_path}" alt="Flaga ${data.country}">` : ''}
                                <p><strong>Kontynent:</strong> ${data.continent}</p>
                                <p><strong>Stolica:</strong> ${data.capital}</p>
                                <p><strong>Powierzchnia:</strong> ${data.area} km²</p>
                                <p><strong>Populacja:</strong> ${data.population}</p>
                                <p><strong>Kod telefoniczny:</strong> +${data.phone_code}</p>`
                                : ''
                        );
                        // Pokaż kontener po uzyskaniu danych o kraju
                        $('#country-info').show();
                    },

                    error: function () {
                        console.log('Wystąpił błąd przy pobieraniu danych o kraju.');
                    }
                });
            });
        });

    </script>
</body>

</html>