{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kraj</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/country_style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'scripts/goBack_script.js' %}"></script>
    <script src="{% static 'scripts/showCountry_script.js' %}"></script>
</head>

<body>
    <!-- Powrót do panelu użytkownika -->
    <div class="back-to-panel">
        <button type="button" onclick="goBack()">Powrót</button>
    </div>

    <div class="country-selection">
        <h2>Wybierz kraj:</h2>
        <form>
            <label for="country-select">Kraj:</label>
            <select id="country-select" name="selected_country">
                <option value="" selected disabled>Wybierz kraj</option>
                {% for country in countries %}
                <option value="{{ country.id }}" {% if country.id == selected_country.id %}selected{% endif %}>{{country.country }}</option>
                {% endfor %}
            </select>
            <button type="submit">Wybierz</button>
        </form>
    </div>

    <div id="country-info">
        {% if selected_country %}
        <h3>{{ selected_country.country }}</h3>
        {% if selected_country.flag_path %}
        <img id="flag-image" src="{{ selected_country.flag_path }}" alt="Flaga {{ selected_country.country }}">
        {% endif %}
        <p><strong>Kontynent:</strong> {{ selected_country.continent }}</p>
        <p><strong>Stolica:</strong> {{ selected_country.capital }}</p>
        <p><strong>Powierzchnia:</strong> {{ selected_country.area }} km²</p>
        <p><strong>Populacja:</strong> {{ selected_country.population }}</p>
        <p><strong>Kod telefoniczny:</strong> +{{ selected_country.phone_code }}</p>
        {% endif %}
    </div>
    
</body>

</html>