{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login_style.css' %}">
    <title>Strona logowania</title>
</head>

<body>
    <!-- <h1>Login Form</h1> -->
    <form action="#" method="post" class="login-form">
        {% csrf_token %}
        <div class="avatar-container">
            <img src="{% static 'avatar_log.jpg' %}" alt="Avatar" class="avatar">
        </div>
        <!-- <label for="email"><b>Email użytkownika:</b></label> -->
        <input type="email" placeholder="Adres e-mail" name="email" required>
        <!-- <label for="password"><b>Hasło:</b></label> -->
        <input type="password" placeholder="Hasło" name="password" required>
        <!-- Dodaj ukryte pole user_type -->
        <input type="hidden" name="user_type" value="normal">
        <button type="submit">Zaloguj</button>
        <p>Nie masz konta? <a href="http://localhost:8000/signup/">Zarejestruj się</a></p>
        <p>Wróć do <a href="http://localhost:8000">Strona główna</a></p>
    </form>

    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% if email %}
    <!-- <p>Invalid login attempt for email: {{ email }}</p> -->
    {% endif %}
    {% endif %}
</body>

</html>