{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona rejestracji</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/signup_style.css' %}">
</head>

<body>

    <p class="signup-form-message {% if success_message %}success{% endif %}{% if error_message %}error{% endif %}">
        {{ success_message }}
        {{ error_message }}
    </p>
    
    <!-- <h1>Register Form</h1> -->
    <form action="#" method="post" class="signup-form">
        {% csrf_token %}
        <div class="avatar-container">
            <img src="{% static 'avatar_reg.jpg' %}" alt="Avatar" class="avatar">
        </div>
        <input type="text" placeholder="Podaj imię" name="first_name" required><br>
        <input type="text" placeholder="Podaj nazwisko" name="last_name" required><br>
        <input type="email" placeholder="Adres e-mail" name="email" required><br>
        <input type="password" placeholder="Hasło" name="password" required><br>
        <!-- Nowe pole do powtórzenia hasła -->
        <input type="password" placeholder="Powtórz hasło" name="confirm_password" required><br>
        <div class="gender-container">
            <label for="sex"><b>Płeć:</b></label>
            <input type="radio" name="sex" value="male" required>
            <label>Mężczyzna</label>
            <input type="radio" name="sex" value="female" required>
            <label>Kobieta</label>
        </div>
        <button type="submit"><b>Zarejestruj się</b></button><br>
        <p>Już masz konto? <a href="http://localhost:8000/login/">Zaloguj się</a></p>
        <p>Wróć do <a href="http://localhost:8000">Strona główna</a></p>
    </form>

</body>

</html>