{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona powitalna</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_style.css' %}">
</head>

<body>
    <img src="{% static 'avatar_log.jpg' %}" alt="Avatar" class="avatar">
    <h1 class="welcome-message">Witaj, {{ user_info.first_name }}!</h1>
    
    <div class="button-container">
        <button class="analysis-button" onclick="window.location.href='http://localhost:8000/analysis/'">Analiza</button>
        <button class="demo-button" onclick="window.location.href='http://localhost:8000/country/'">Kraje</button>
        <button class="logout-button" onclick="window.location.href='/logout/'">Wyloguj</button>
    </div>
    
</body>

</html>