* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #C0DEBC;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #000000;
    margin-top: 2em;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #000000;
    margin-top: 0.5em;
}


button:hover {
    background-color: #45a049;
}

/* Style dla tabeli */
table {
    border-collapse: collapse;
    width: 100%;
    display: none;
    /* Ukryj tabelę na początku */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

select,
input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Styl dla przycisku "Show data" */
.show-data-button {
    padding: 1em 1.5em;
    margin: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5em;
    position: absolute;
    right: 1em;
    font-weight: bold;
}

.show-data-button:hover {
    background-color: #45a049;
}

/* Styl dla przycisku "Show emigrations" */
.show-emigrations-button {
    padding: 1em 1.5em;
    margin: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5em;
    position: absolute;
    right: 10em;
    font-weight: bold;
}

.show-emigrations-button:hover {
    background-color: #45a049;
}

/* Styl dla tabeli o klasie "country-table" */
.country-table {
    width: 80em;
    margin-top: 5em;
    margin-bottom: 1em;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.country-table th,
.country-table td {
    border: 0.1em solid #ddd;
    padding: 0.8em;
    text-align: left;
}

.country-table th {
    background-color: #4CAF50;
    color: white;
}

.country-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Kolor tła dla parzystych wierszy */
}

.country-table tbody tr:nth-child(odd) {
    background-color: white;
    /* Kolor tła dla nieparzystych wierszy */
}

.emigration-table {
    width: 60em;
    margin-top: 5em;
    margin-bottom: 1em;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.emigration-table th,
.emigration-table td {
    border: 0.1em solid #ddd;
    padding: 0.8em;
    text-align: left;
}

.emigration-table th {
    background-color: #4CAF50;
    color: white;
}

.emigration-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Kolor tła dla parzystych wierszy */
}

.emigration-table tbody tr:nth-child(odd) {
    background-color: white;
    /* Kolor tła dla nieparzystych wierszy */
}

/* Styl dla formularza emigracji */
.emigration-form {
    margin-top: 4em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.form-group {
    flex: 1;
    margin-right: 1em;
    /* Odstęp między elementami */
}

.emigration-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.emigration-form select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

/* Przyciski */
.emigration-form button {
    width: 12em;
    height: 3em;
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 0.5em;
    margin-left: 0.7em;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

/* Efekt hover */
.emigration-form button:hover {
    background-color: #45a049;
}

/* Styl dla przycisku "Hide results" */
.emigration-form .highlighted {
    background-color: #f44336;
}

/* Efekt hover dla przycisku "Hide results" */
.emigration-form .highlighted:hover {
    background-color: #d32f2f;
}

/* Styl dla formularza odchylenia standardowego */
.standard-deviation-form {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}

.standard-deviation-form button {
    width: 13em;
    height: 3em;
    padding: 0em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 0.5em;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

/* Style dla kontenera wyników */
.results-container {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}

.results-container h3 {
    text-align: center;
    margin-bottom: 1em;
}

/* Style dla wyników */
.result {
    margin-bottom: 0.5em;
    padding: 0.1em;
    border-radius: 0.25em;
    font-weight: normal;
}

.hidden {
    display: none;
}

/* Style dla przycisku powrotu */
.back-to-panel {
    position: absolute;
    top: 1em;
    left: 1em;
    text-align: center;
}

.back-to-panel button {
    padding: 0em;
    font-size: 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    width: 6em;
    height: 2.3em;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.back-to-panel button:hover {
    background-color: #45a049;
}

/* kontener z wykresami  */
.chart-container {
    margin-top: 2em;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.chart-buttons {
    margin-top: 0em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chart-buttons button {
    width: 12em;
    height: 3em;
    padding: 0em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 0.5em;
    margin-left: 1em;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.chart-buttons button:hover {
    background-color: #45a049;
}

/* Styl dla przycisku "Hide Charts" */
#hidePieChartButton {
    background-color: #333;
    color: white;
}

#hidePieChartButton:hover {
    background-color: #555;
}

.chart-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-content>div {
    flex: 1;
    margin: 1em;
}

.chart-content .active {
    display: block !important;
}

.year-description {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#pieChartContainer,
#emigration-form {
    display: none;
    max-width: 50em;
    margin: 0em auto;
    padding: 1em;
    margin-top: -1em;
}

#pieChartContainer img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#yearRange {
    margin-top: 1em;
}

#selectedStartYear,
#selectedEndYear {
    font-weight: bold;
    margin: 0 5px;
}

.countries-selectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selector-group {
    width: 48%;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
}

.two-countries-button-container {
    text-align: center;
}

.two-countries-button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    margin-top: 1em;
}

.two-countries-button:hover {
    background-color: #45a049;
}

#emigrationChartContainer {
    text-align: center;
}

#emigrationChart {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#pieChart {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#pieChart img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Styl dla formularza współczynnika korelacji Pearsona */
.correlation-form {
    margin-top: 2em;
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styl dla grupy pól formularza (lewa strona) */
.left-group {
    flex: 1;
    box-sizing: border-box;
    margin-bottom: 1em;
}

/* Styl dla pola wyboru krajów */
.form-group select#selected_countries {
    width: 100%;
    /* Dostosuj szerokość do 100% kontenera */
    height: 85%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

/* Styl dla grupy pól formularza (prawa strona) */
.right-group {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* Ustawia elementy w kolumnie (jeden pod drugim) */
    margin-bottom: 1em;
}

.right-group div {
    margin-bottom: 1em;
    /* Dodatkowy margines między elementami w grupie prawej */
}

/* Styl dla grupy przycisków */
.button-group {
    width: 100%;
    margin-top: 0em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/* Pozostałe style niezmienione */
.form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-group select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

/* Styl dla przycisków obliczeń */
.calculate-button {
    width: 12em;
    /* Zmniejsz szerokość przycisków do 12em */
    height: 3em;
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 0.5em;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.calculate-button:hover {
    background-color: #45a049;
}

/* Styl dla kontenera wykresów */
/* Styl dla kontenera wykresów */
.charts-container {
    display: none;
    width: 100%;
    margin-top: 1em;
    justify-content: center;
}

/* Styl dla wykresu */
#correlationChart {
    width: 100%;
    max-width: 60em;
    /* Dostosuj szerokość maksymalną do preferencji */
    height: 40em;
    /* Dodaj stałą wysokość */
    margin-top: 1em;
    /* Dodaj margines na górę */
    margin-left: auto;
    /* Ustaw wykres na środku */
    margin-right: auto;
    /* Ustaw wykres na środku */
}