body {
    font-family: 'Arial', sans-serif;
    background-color: #C0DEBC;
    margin: 1.25em;
    /* Zmienione z 20px na 1.25em */
    padding: 1.25em;
    /* Zmienione z 20px na 1.25em */
}

h2 {
    color: #333;
}

form {
    margin-bottom: 1.25em;
    /* Zmienione z 20px na 1.25em */
}

label {
    font-weight: bold;
    margin-right: 0.625em;
    /* Zmienione z 10px na 0.625em */
}

select {
    padding: 0.3125em;
    /* Zmienione z 5px na 0.3125em */
}

button {
    padding: 0.5em;
    /* Zmienione z 8px na 0.5em */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Style dla przycisku powrotu */
.back-to-panel {
    position: absolute;
    top: 1em;
    left: 1em;
    text-align: center;
    margin-bottom: 10em;
    /* Dodatkowy odstęp od następnego elementu */
}

.back-to-panel button {
    padding: 0.5em 1em;
    /* Dodaj padding do przycisku */
    font-size: 1em;
    /* Ustaw rozmiar czcionki */
    background-color: #4CAF50;
    /* Kolor tła */
    color: #fff;
    /* Kolor tekstu */
    border: none;
    /* Usuń obramowanie */
    border-radius: 0.25em;
    /* Zaokrąglij rogi */
    cursor: pointer;
    /* Zmień kursor na wskaźnik */
}

.back-to-panel button:hover {
    background-color: #45a049;
}

.country-selection {
    background-color: #ffffff;
    width: 20em;
    padding: 1.25em;
    /* Zmienione z 20px na 1.25em */
    border-radius: 0.5em;
    /* Zmienione z 8px na 0.5em */
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    /* Zmienione z 0 4px 8px rgba(0, 0, 0, 0.1) na 0 0.25em 0.5em rgba(0, 0, 0, 0.1) */
    margin: 0 auto;
    /* Dodane, aby ustawić na środku */
    margin-top: 1.25em;
    /* Zmienione z 20px na 1.25em */
    margin-bottom: 1.25em;
    /* Zmienione z 20px na 1.25em */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-selection h2 {
    color: #333;
}

.country-selection form {
    margin-top: 0.9375em;
    /* Zmienione z 15px na 0.9375em */
}

.country-selection label {
    font-weight: bold;
    margin-right: 0.625em;
    /* Zmienione z 10px na 0.625em */
}

.country-selection select {
    padding: 0.5em;
    /* Zmienione z 8px na 0.5em */
    border-radius: 0.25em;
    /* Zmienione z 4px na 0.25em */
}

.country-selection button {
    padding: 0.625em;
    /* Zmienione z 10px na 0.625em */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25em;
    /* Zmienione z 4px na 0.25em */
}

.country-selection button:hover {
    background-color: #45a049;
}


#country-info {
    display: none;
    width: 20em;
    /* Ukryj kontener na początku */
    margin: 0 auto;
    margin-top: 0em;
    background-color: #ffffff;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25em;
    text-align: center;
}

#country-info h3 {
    color: #333;
    font-size: 3em;
    /* Zwiększenie rozmiaru czcionki */
    margin-top: 0em;
    margin-bottom: 0em;
    /* Dodatkowy odstęp od elementów poniżej */
}

#country-info p {
    margin: 0.3125em 0;
    font-size: 1em;
    text-align: left;
    /* Dodane ustawienie dla paragrafów */
    /* Rozmiar czcionki dla paragrafów */
}

#country-info strong {
    margin-right: 0.3125em;
}

#flag-image {
    max-width: 100%;
    max-height: 9.375em;
    margin-top: 0.625em;
    margin-bottom: 1em;
    ;
}