* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #000000;
    background-color: #C0DEBC;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form {
    border: 3px solid #f1f1f1;
    background-color: #ffffff;
    padding: 2em;
    width: 400em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 27em;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.avatar-container {
    text-align: center;
    margin-bottom: 0em;
    margin-top: -1em;
}

.avatar {
    width: 8em;
    border-radius: 50%;
}

.signup-form label {
    font-size: 1em;
    display: block;
    margin-top: -0.7em;
    margin-bottom: 0em;
}

.signup-form input {
    width: 100%;
    font-size: 1em;
    margin: 0em 0;
    margin-bottom: 0em;
    padding: 0.8em;
    border: 2px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-form input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 14px;
    width: 14px;
    margin-top: -1em;
    margin-bottom: 0em;
    margin-right: 0.1em;
    margin-left: 1em;
    border: 2px solid #3498db;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    display: inline-block;
    transform: scale(0.7);
}

.signup-form input[type=radio]:checked {
    background-color: #4caf50;
    border-color: #4caf50;
    transform: scale(0.7);
}

.signup-form .gender-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.signup-form button {
    background-color: #4caf50;
    width: 10em;
    padding: 0.8em;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 0.5;
}

.signup-form button:hover {
    background-color: #45a049;
}

.signup-form p {
    margin-top: 0.3em;
    margin-bottom: 0em;
    font-size: 1em;
}

.signup-form a {
    text-decoration: none;
    color: #0066cc;
}

.signup-form a:hover {
    text-decoration: underline;
}

.signup-form-message {
    font-size: 1em;
    margin-top: 10px;
}

.signup-form-message.success {
    color: green;
}

.signup-form-message.error {
    color: red;
}