* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: #000000;
    background-color: #C0DEBC;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header-section {
    text-align: center;
    margin-bottom: 1em;
}

.header-section img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.header-section h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 1em;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

.button-container button {
    width: 12em;
    height: 3em;
    padding: 0em;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 0.5em;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.button-container button:hover {
    background-color: #45a049;
}

.additional-info-container {
    text-align: center;
    margin-top: 2em;
}

.additional-info-container h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.info-links {
    display: flex;
    justify-content: space-around;
}

.info-links p {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1em;
}

.info-links a {
    text-decoration: none;
    color: #0066cc;
}

.info-links a:hover {
    text-decoration: underline;
}